<div style="background-color: #FDF2E9;">
  <div class="skills-title">
    <strong>Habilidades</strong>
  </div>
  <div class="skills-container">
    <div class="skills">
      <div class="skills-icon">
        <img src="../../../assets/img/icon/html.svg" alt="" width="130px">
        <span>HTML</span>
      </div>
      <div class="skills-icon">
        <img src="../../../assets/img/icon/css.svg" alt="" width="130px">
        <span>CSS</span>
      </div>
      <div class="skills-icon">
        <img src="../../../assets/img/icon/javascript.svg" alt="" width="110px">
        <span>JAVA SCRIPT</span>
      </div>
      <div class="skills-icon">
        <img src="../../../assets/img/icon/typescript-icon.svg" alt="" width="110px">
        <span>TYPE SCRIPT</span>
      </div>
    </div>
    <div class="skills">
      <div class="skills-icon">
        <img src="../../../assets/img/icon/angular-icon.svg" alt="" width="110px">
        <span>ANGULAR</span>
      </div>
      <div class="skills-icon">
        <img src="../../../assets/img/icon/react.svg" alt="" width="110px">
        <span>REACT</span>
      </div>
      <div class="skills-icon">
        <img src="../../../assets/img/icon/ant-design.svg" alt="" width="110px">
        <span>ANT DESIGN</span>
      </div>
      <div class="skills-icon">
        <img src="../../../assets/img/icon/github-icon.svg" alt="" width="110px" >
        <span>GITHUB</span>

      </div>
    </div>
  </div>  
</div>

<!-- <div>

</div> -->
