<div class="bg-secondary" style="padding: 30px 0px 40px 0px;" id="languages">
  <div style="margin: 50px 0px;">
    <div class="title">
      <strong>Habilidades</strong>
    </div>
    <div class="skills-container col">
      <div class="skills row" style=" margin-bottom: 50px;">
        <div class="skills-icon col">
          <img src="../../../assets/img/icon/html.svg" alt="" width="130px">
          <span>HTML</span>
        </div>
        <div class="skills-icon col">
          <img src="../../../assets/img/icon/css.svg" alt="" width="130px">
          <span>CSS</span>
        </div>
        <div class="skills-icon col">
          <img src="../../../assets/img/icon/javascript.svg" alt="" width="110px">
          <span>JAVA SCRIPT</span>
        </div>
        <div class="skills-icon col">
          <img src="../../../assets/img/icon/typescript-icon.svg" alt="" width="110px">
          <span>TYPE SCRIPT</span>
        </div>
      </div>
      <div class="skills row">
        <div class="skills-icon col">
          <img src="../../../assets/img/icon/angular-icon.svg" alt="" width="110px">
          <span>ANGULAR</span>
        </div>
        <div class="skills-icon col">
          <img src="../../../assets/img/icon/react.svg" alt="" width="110px">
          <span>REACT</span>
        </div>
        <div class="skills-icon col">
          <img src="../../../assets/img/icon/ant-design.svg" alt="" width="110px">
          <span>ANT DESIGN</span>
        </div>
        <div class="skills-icon col">
          <img src="../../../assets/img/icon/github-icon.svg" alt="" width="110px" >
          <span>GITHUB</span>
        </div>
      </div>
    </div>  
  </div>
</div>

<!-- <div>

</div> -->
