.skills-container{
    align-items: center;
    width: 80%;
    margin: auto;
}

.skills{
    align-items: center;
    width: 100%;
    justify-content: space-around;
}
.skills-icon{
    transition: all 0.5s cubic-bezier(0.68, -0.55, 0.27, 1.55);
    align-items: center;
    font-family: "Be Vietnam Pro", sans-serif;
    font-weight: 600;
    cursor: pointer;
}

.skills-icon span{
    margin-top: 10px;
}

.skills-icon:hover {
    transform: scale(1.2);
}


