.about{
    width: 100%;
    margin: 125px 0px;
}
.aboutMe{
    width: 80%;
    font-size: 25px;
    margin: auto;
}
.aboutMe-img img{
    width: 150px;
    border-radius: 50%;
}
.aboutMe-title{
    font-size: 40px;
    font-family: 'Ubuntu Condensed', sans-serif;
    font-weight: 400;
}

.aboutMe-title-img{
    justify-content: space-between;
    align-items: center;
}
.aboutMe-presentation{
    font-size: 1.3rem;
    line-height: 1.5;
}

.btn-download{
    margin: 20px;
    text-align: end;
    margin-right: 11%;
}

.download{
    background-color: #82E0AA ;
    padding: 10px;
    border-radius: 5px;
    transition: 500ms;
    color: #fdfdfd;
    text-decoration: none;
}
.download:hover{
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
    padding: 13px;
}
.download a{
    width: 135px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.paragraph span {
	/* display: block; */
	opacity: 0;
	animation: reveal 0.5s forwards var(--d);
}
@keyframes reveal {
	from {
		transform: translateY(20px);
	}
	to {
		opacity: 1;
		transform: none;
	}
}