<div class="about">
  <div class="aboutMe">
    <div class="aboutMe-title-img">
      <div class="aboutMe-title">
        Hola, soy <span style="color: #58D68D;">Camila Maturano</span> desarrolladora Front-End!
      </div>
      <div class="aboutMe-img">
        <img src="../../../assets/img/perfil.png">
      </div>
    </div>
    <div class="aboutMe-presentation">
      Soy de la provincia de Mendoza tengo 22 años, actualmente curso la Tecnicatura Superior en Desarrollo de Software.
      Mi objetivo es crecer como desarrolladora front-end, comence desarrollando mis habilidades en un instituto y tambien de forma autodidacta. 
      Me considero una persona con muchas ganas de aprende y con pasión por elñ trabajo que realizo, dando todo mi esfuerxo por crecer más día a día en el mundo IT.
    </div>
  </div>
  <div class="btn-download">
    <a class="download" href="https://drive.google.com/file/d/1OaldVpYDmYg3pBmi1xz4UKm1FWgG9Q56/view?usp=sharing" target="_blank">
      DESCARGAR CV
      <img src="../../../assets/img/icon/download-solid.svg" alt="" width="15px">
    </a>
  </div>
</div>
