<div class="about" id="Index">
  <div class="aboutMe paragraph">
    <div class="aboutMe-title-img row ">
      <div class="aboutMe-title">
        <span style="--d: .0s;">Hola, soy <span style="color: #58D68D;">Camila Maturano</span> desarrolladora Front-End!</span>
       
      </div>
      <div class="aboutMe-img">
        <img src="../../../assets/img/perfil.png">
      </div>
    </div>
    <div class="aboutMe-presentation ">
        <span style="--d: .1s;">Soy de la provincia de Mendoza tengo 22 años, actualmente curso la Tecnicatura Superior en Desarrollo de Software.</span>
        <span style="--d: .2s;"> Mi objetivo es crecer como desarrolladora front-end, comence desarrollando mis habilidades en un instituto y</span>
        <span style="--d: .3s;">
          tambien de forma autodidacta.Me considero una persona con muchas ganas de aprende y con pasión por el trabajo</span>
        <span style="--d: .4s;">que realizo, dando todo mi esfuerxo por crecer más día a día en el mundo IT.</span>
    </div>
  </div>
  <div class="btn-download">
    <a class="download" href="https://drive.google.com/file/d/1K-wYF23WBDmndOxBWV2xO7cVJjw8Ria_/view?usp=sharing" target="_blank">
      DESCARGAR CV
      <img src="../../../assets/img/icon/download-solid.svg" alt="" width="15px" style="margin-left: 5px;">
    </a>
  </div>
</div>
