<div class="section-form bg-secondary" id="form">
  <div>
    <img src="../../../assets/img/avion2.svg" alt="" width="650px">
  </div>
  <form action="mailto:maturano4219@gmail.com" method="post" enctype="text/plain" class="bg-form">
    <div class="form">
      <span class="title">Contactame</span>
      <div class="campo">
        <input type="text" required><!-- Nombre  -->
        <span class="barra"></span>
        <label for="">Nombre</label>
      </div>
      <div class="campo">
        <input type="email" required><!-- Correo  -->
        <span class="barra"></span>
        <label for="">Email</label>
      </div>
      <div class="campo">
        <textarea name="" id="" rows="3" required></textarea><span class="barra"></span>
        <label for="">Mensaje</label>
      </div>  
    </div>
    <button>Enviar</button>
  </form>
</div>
