<div class="row navBar">
  <div class="navBar-name">
    <strong>Camila Maturano</strong>
  </div>
  <div class="row" style="align-items: center;">
    <nav style="margin-right: 10px;">
      <ul>
        <li>
          <a href="#Index" class="link">Inicio</a>
        </li>
        <li>
          <a href="#languages" class="link">Habilidades</a>
        </li>
        <li>
          <a href="#project" class="link">Proyectos</a>
        </li>
        <li>
          <a href="#form" class="link">Contacto</a>
        </li>
      </ul>
    </nav>
    <div>
      <button class="switch" id="switch" (click)="toggleTheme()">
        <span><i class="fa-solid fa-sun"></i></span>
        <span><i class="fa-solid fa-moon"></i></span>
      </button>
    </div>
  </div>
</div>