/* You can add global styles to this file, and also import other style files */
//Light theme
$bg-theme-light:#ede6db;
$bg-secondary-thme-light: #FDF2E9;
$letter-color-light: #000;
//Dark thme

$bg-theme-dark:#212F3D;
$bg-secondary-thme-dark: #394e67;
$letter-color-dark: #fff;


*body{
    margin: 0px;
    padding: 0px;
    font-family: 'Abel', sans-serif;
}
.row{
    display: flex;
    flex-direction: row;
}

.align-end{
    justify-content: end;
}

.col{
    display: flex;
    flex-direction: column;
}

.title{
    text-align: center;
    font-size: 60px;
    margin-bottom: 50px;
}


.light-theme{
    background: $bg-theme-light;
    color: #000;

    .bg-secondary{
        background: $bg-secondary-thme-light;
    }

    .bg-card-project{
        background-color: #00000012;
    }

}

.dark-theme{
    background: $bg-theme-dark;
    color: #fff;

    .bg-secondary{
        background: $bg-secondary-thme-dark;
    }

    .bg-card-project{
        background-color: #fdfdfd;
    }

    .bg-form{
        background: $bg-theme-dark;
    }
}